
*{
  margin: 0;
  padding: 0;
}

html{
  // font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.pointer{
  cursor: pointer;
  &:hover{
    opacity: .6;
  }
}

.round-20{
  border-radius: 20px;
}

.slow-down{
  animation: slow .5s ease;

  @keyframes slow{
    0%{
      margin-top: -20px;
    }
    100%{
      margin-top: 0px;
    }
  }
}

.react-datepicker-wrapper{
  width: 100%;
  input{
    width: 100%;
    border-radius: 20px;
  }
}
